.hero {
  position: relative;
  padding: 40px 20px 30px;
  @include media($mobile) { padding: 32px 10px 40px; }
  &__title {
    font-size: 73px;
    @include media($mobile) { font-size: 40px; }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    font-family: var(--helvetica);
    color: var(--gray);
    gap: 20px;
    margin-top: 20px;
    p { max-width: 900px; }
    @include media($tablet) { flex-wrap: wrap; }
    @include media($mobile) { --button-max-width: 100%; }
  }
}