extends template/main

block variables
  - var title = '404'
  - var pageClass = '404-page page-error'
  - var pageError = true
  - var HeaderPicture = true
  - var HeaderBody = true
  - var Footer = false
  - var pageNavigation = '/404/'
  - var pageTitleLine1 = 'страница'
  - var pageTitleLine2 = 'не найдена'
  - var pageDescrLine1 = 'Что-то пошло не так...'
  - var pageDescrLine2 = 'Или страница не найдена, пока что :)'



block content 




