extends template/main

block variables
  - var title = '500'
  - var pageClass = '500-page page-error'
  - var pageError = true
  - var HeaderPicture = true
  - var HeaderBody = true
  - var Footer = false
  - var pageNavigation = '/500/'
  - var pageTitleLine1 = 'внутренняя'
  - var pageTitleLine2 = 'ошибка сервера'
  - var pageDescrLine1 = 'Что-то пошло не так...'
  - var pageDescrLine2 = 'Внутренняя ошибка сервера'



block content



