extends template/main

block variables
  - var title = '502'
  - var pageClass = '502-page page-error'
  - var pageError = true
  - var HeaderPicture = true
  - var HeaderBody = true
  - var Footer = false
  - var pageNavigation = '/502/'
  - var pageTitleLine1 = 'плохой,'
  - var pageTitleLine2 = 'ошибочный шлюз'
  - var pageDescrLine1 = 'Cервер, выступая в роли шлюза или прокси-сервера, получил недействительное ответное сообщение от вышестоящего сервера.'



block content



