extends template/main

block variables
  - var title = '503'
  - var pageClass = '503-page page-error'
  - var pageError = true
  - var HeaderPicture = true
  - var HeaderBody = true
  - var Footer = false
  - var pageNavigation = '/503/'
  - var pageTitleLine1 = 'сервис'
  - var pageTitleLine2 = 'недоступен'
  - var pageDescrLine1 = 'Cервер временно не имеет возможности обрабатывать запросы по техническим причинам (обслуживание, перегрузка и прочее).'



block content



