extends template/main

block variables
  - var title = '504'
  - var pageClass = '504-page page-error'
  - var pageError = true
  - var HeaderPicture = true
  - var HeaderBody = true
  - var Footer = false
  - var pageNavigation = '/504/'
  - var pageTitleLine1 = 'сервер'
  - var pageTitleLine2 = 'не отвечает'
  - var pageDescrLine1 = 'Cервер в роли шлюза или прокси-сервера не дождался ответа от вышестоящего сервера для завершения текущего запроса.'



block content



