extends template/main

block variables
  - var title = 'Навигация'
  - var pageClass = 'faq-page'
  - var Footer = true
  - var HeaderBody = false



block content
  section.s-hero
    .container
      .hero
        h1.hero__title FAQ
  .category
    .container
      .category__inner.faq
        .category__col
          .category__aside
            aside.aside.gray
              ul.aside__list
                li.aside__item
                  a(href="#").aside__single Basics
                li.aside__item
                  a(href="#").aside__single Culture
                li.aside__item
                  a(href="#").aside__single Contribution
                li.aside__item
                  a(href="#").aside__single Features
                li.aside__item
                  a(href="#").aside__single Issues
        .category__col
          .accordion
            .accordion__inner
              .accordion__item
                .accordion__top 
                  span How do I access the boards?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.
              .accordion__item
                .accordion__top 
                  span What should I know before I post?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.
              .accordion__item
                .accordion__top 
                  span How do I post on 93?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.
              .accordion__item
                .accordion__top 
                  span What should I know before I post?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.
              .accordion__item
                .accordion__top 
                  span How do I access the boards?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.
              .accordion__item
                .accordion__top 
                  span How do I access the boards?
                  .accordion__toggle
                .accordion__body
                  p In order to post on 4chan you have to do one of the following:
                  ul 
                    li If you are a new user of 4chan (i.e., have never posted before), simply wait for 15 minutes before attempting to post. Click 'Get Captcha' then wait for the timer to count down. Consider browsing the board in another tab while you wait.
                    li Verify your email address to be able to post immediately.
                    li Have a 4chan Pass.
                  p So for clarity, you do not have to verify your email address if you don't want to. If you are a new user, you can instead simply wait 15 minutes before posting. Lurk a thread, browse the site, or just come back later. After the wait, you can post threads and replies as normal. Verifying your email address merely bypasses the wait. It will also make your experience smoother by allowing you to bypass various other filters and blocks.
                  p You will need to accept 4chan cookies for any of these methods to work. Please ensure that your browser is not set to block cookies, or that you whitelist 4chan domains in any browser extensions you use which may block cookies. Should you choose to verify your email to bypass the wait, we will not retain long-term records of your email address. After the verification email has been sent, your email address will be purged from our servers.