// Adderley Font Family
@font-face {
  font-family: "Adderley";
  src: url("../fonts/Adderley/Bold.woff2") format("woff2"),
    url("../fonts/Adderley/Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Helvetica Font Family
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Roman.woff2") format("woff2"),
    url("../fonts/Helvetica/Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Light.woff2") format("woff2"),
    url("../fonts/Helvetica/Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Bold.woff2") format("woff2"),
    url("../fonts/Helvetica/Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Inter Font Family
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Regular.woff2") format("woff2"),
    url("../fonts/Inter/Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
