.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--helvetica);
  font-size: 14px;
  color: var(--gray);
  @include media($mobile) {
    font-size: 12px;
    gap: 8px;
    img { max-width: 50px; }
  }
}

.header {
  position: relative;
  z-index: 1;
  &__picture {
    max-width: px-to-vw(424);
    position: absolute;
    bottom: 0;
    right: px-to-vw(160);
    pointer-events: none;
    z-index: -1;
    img { display: none; }
    @include media($mobile) {
      max-width: 200px;
      top: 80px;
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__top {
    height: 88px;
    border-bottom: 1px solid var(--light-gray);
    @include media($mobile) { height: 48px; }
    
  }
  &__body {
    border-bottom: 1px solid var(--light-gray);
  }
  &__title {
    max-width: 1100px;
    padding: 224px 20px 48px;
    color: var(--dark);
    line-height: 1;
    span {
      &.gray { color: var(--gray); }
      &.orange { color: var(--orange); }
    }
    @include media($mobile) {
      padding: 280px 10px 48px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include media($mobile) { justify-content: flex-end; }
  }
  &__sandwich {
    border-left: 1px solid var(--light-gray);
  }
  &__logo {
    @include media($mobile) {
      order: -1;
      margin: 0 auto 0 10px;
    }
  }
}

.themeToggle {
  $this: &;

  display: flex;
  height: 100%;
  @include media($mobile) { border-left: 1px solid var(--light-gray); }
  &__item {
    width: 88px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color var(--duration);
    padding: 16px;
    &.active {
      background-color: var(--orange);
    }
    @include media($mobile) {
      width: 48px;
      padding: 13px;
    }
  }
  &__icon {
    fill: var(--dark);
    transition: fill var(--duration);
  }
  &__light {
    #{$this}__icon { @include size(42px); }
    &:not(.active) { #{$this}__icon { fill: var(--gray); } }
    &.active { #{$this}__icon { fill: var(--white); } }
  }
  &__dark {
    #{$this}__icon { 
      @include size(33px);
      @include media($mobile) { @include size(18px); }
    }
    &.active { #{$this}__icon { fill: var(--dark); } }
  }
}

.sandwich {
  width: 88px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
  @include media($mobile) {
    width: 48px;
    padding: 0 8px;
  }
  &__icon {
    @include size(100%);
    fill: var(--dark);
  }
}