.posts {
  $this: &;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include media($mobile) { gap: 16px; }
  }
}

.post {
  $this: &;

  background-color: var(--light, var(--dark-hero));
  padding: 20px;
  font-family: var(--helvetica);
  @include media($mobile) { padding: 10px; overflow: hidden; }
  &__header {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    @include media($mobile) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &__picture {
    img {
      @include size(100%);
      object-fit: cover;
    }
    @include media($mobile) {
      width: calc(50% - 5px);
      min-width: calc(50% - 5px);
    }
  }
  &__controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
    color: var(--dark);
    flex: 0 0 auto;
  }
  &__data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 16px;
    font-size: 14px;
    color: var(--gray);
  }
  &__pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    @include media($mobile) { 
      flex-wrap: nowrap;
      overflow: auto;
      & + .controls .controls__item { padding: 0 18px; }
    }
  }
}

.controls {
  $this: &;

  display: flex;
  gap: 3px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: var(--light-gray);
    color: var(--gray);
    user-select: none;
    font-size: 14px;
    cursor: pointer;
    &#{$this}__text {
      &:active,
      &:hover {
        background-color: var(--orange);
        color: var(--white-stable);
      }
    }
    @include media($mobile) { height: 32px; }
  }
  &__icon {
    width: 20px;
    padding: 4px;
    &.active,
    &:hover {
      background-color: var(--orange);
      #{$this}__svg { fill: var(--white-stable); }
    }
    &#{$this}__cancel { padding: 5px; } 
    @include media($mobile) {
      width: 32px;
      padding: 6px;
      &#{$this}__hide { padding: 6.5px; }
      &#{$this}__cancel { padding: 8px; }
    }
  }
  &__svg {
    @include size(100%);
    fill: var(--gray);
    transition: fill var(--duration);
  }
  &__text {
    padding: 0 8px;
    transition: color var(--duration);
    &.dark {
      background-color: var(--dark-gray-stable);
    }
    &.gray {
      background-color: var(--gray);
      color: var(--dark-stable);
    }
  }
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  &__item {
    padding: 20px;
    background-color: var(--light-gray);
    .post__data { margin-bottom: 20px; }
    @include media($mobile) {
      padding: 10px;
      .controls__item { height: 20px; }
    }
  }
  &__id {
    color: var(--orange);
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__answer { 
    color: var(--dark);
    @include media($mobile) { font-size: 14px; }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  font-family: var(--helvetica);
  margin: 20px 0;
  @include media($mobile) { 
    justify-content: center;
    margin-top: 50px;
  }
  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(42px);
    background-color: var(--light-gray);
    transition: all var(--duration);
    font-size: 18px;
    color: var(--gray);
    &:hover,
    &:active,
    &.active {
      background-color: var(--orange);
      color: var(--white-stable);
    }
  }
}