.category 
  .container
    .category__inner
      .category__col
        .group(data-open="1")
          .group__item
            .group__top
              .group__col.group__title Рандом и разное (Random & Various)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /b/ — /Random/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /vg/ — /Video Games/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Медиа и развлечения (Media & Entertainment)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /a/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tv/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /mu/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /lit/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /kpop/ — /K-Pop/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /gacha/ — /Gacha/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Технологии и наука (Technology & Science)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /ai/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /pr/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tech/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /s/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Сообщество и общение (Community & Communication)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /int/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /soc/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /lgbt/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fag/ — /Bloggers/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /hk/ — /Hikikomori/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /dev/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Интересы и хобби (Interests & Hobbies)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /sp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fa/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /k/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /cr/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fiz/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Мистика и необычное (Mystic & Unusual)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /sp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fa/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /k/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /cr/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fiz/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title Новости и общество (News & Society)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /sp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fa/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /k/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /cr/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fiz/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
          .group__item
            .group__top
              .group__col.group__title NSFW (Контент для взрослых)
              .group__col Темы
              .group__col Ответов
            .group__body
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /sp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fa/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /k/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /tp/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /cr/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
              .group__theme
                .group__table
                  .group__td
                    a(href="#").group__name /fiz/
                  .group__td
                    .group__descr Основная доска для общения на любые темы, не подходящие под другие категории.
                  .group__td
                    .group__count 345
                  .group__td
                    .group__count 12 345
      .category__col
        .category__aside
          aside.aside
            .aside__title актуальные темы
            ul.aside__list
              li.aside__item
                a(href="#").aside__link 
                  .aside__count /1/
                  .aside__body
                    .aside__theme COVID-19
                    .aside__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste at veniam alias, voluptate assumenda quam? Impedit ducimus architecto repellendus dicta id repudiandae? Asperiores, exercitationem necessitatibus ad vel iste tenetur.
              li.aside__item
                a(href="#").aside__link 
                  .aside__count /2/
                  .aside__body
                    .aside__theme COVID-19
                    .aside__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste at veniam alias, voluptate assumenda quam? Impedit ducimus architecto repellendus dicta id repudiandae? Asperiores, exercitationem necessitatibus ad vel iste tenetur.
              li.aside__item
                a(href="#").aside__link 
                  .aside__count /3/
                  .aside__body
                    .aside__theme COVID-19
                    .aside__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste at veniam alias, voluptate assumenda quam? Impedit ducimus architecto repellendus dicta id repudiandae? Asperiores, exercitationem necessitatibus ad vel iste tenetur.
              li.aside__item
                a(href="#").aside__link 
                  .aside__count /4/
                  .aside__body
                    .aside__theme COVID-19
                    .aside__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste at veniam alias, voluptate assumenda quam? Impedit ducimus architecto repellendus dicta id repudiandae? Asperiores, exercitationem necessitatibus ad vel iste tenetur.
              li.aside__item
                a(href="#").aside__link 
                  .aside__count /5/
                  .aside__body
                    .aside__theme COVID-19
                    .aside__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste at veniam alias, voluptate assumenda quam? Impedit ducimus architecto repellendus dicta id repudiandae? Asperiores, exercitationem necessitatibus ad vel iste tenetur.
