section.s-media 
  .container
    .media
      h2.media__title Последние медиа
      .media__gallery
        a(data-src="static/images/img/media/1.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item
          img(src="static/images/img/media/1.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/2.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.span-2
          img(src="static/images/img/media/2.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/3.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item
          img(src="static/images/img/media/3.jpg" alt="Последние медиа")
        a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox).media__item.span-2
          img(src="static/images/img/media/4.jpg" alt="Последние медиа")
          +icon('play','media__play')
        a(data-src="static/images/img/media/5.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.span-2
          img(src="static/images/img/media/5.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/6.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.img
          img(src="static/images/img/media/6.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/7.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.img
          img(src="static/images/img/media/7.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/8.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.img
          img(src="static/images/img/media/8.jpg" alt="Последние медиа")
        a(data-src="static/images/img/media/9.jpg" data-fancybox="gallery" data-caption="Последние медиа").media__item.img
          img(src="static/images/img/media/9.jpg" alt="Последние медиа")
    