.news
  .container
    .news__splide.splide
      .splide__track
        .news__list.splide__list
          a(href="#").news__item.splide__slide
            .news__date 20.08.2025
            .news__title Заголовок какой то интересной новости или сообщение
            .news__text Основная доска для общения на любые темы, не подходящие под другие категории.
          a(href="#").news__item.splide__slide
            .news__date 20.08.2025
            .news__title Заголовок какой то интересной новости или сообщение
            .news__text Основная доска для общения на любые темы, не подходящие под другие категории.
          a(href="#").news__item.splide__slide
            .news__date 20.08.2025
            .news__title Заголовок какой то интересной новости или сообщение
            .news__text Основная доска для общения на любые темы, не подходящие под другие категории.
          a(href="#").news__item.splide__slide
            .news__date 20.08.2025
            .news__title Заголовок какой то интересной новости или сообщение
            .news__text Основная доска для общения на любые темы, не подходящие под другие категории.