.subscribe
  .container 
    .subscribe__wrapper
      .subscribe__banner
        .subscribe__text
          span Подписывайся 
          | на главный канал в нашем телеграме 
          span @board93